body
{
        background-color: #303030;
        color: ffffff; 
        font-family: 'Lato', sans-serif;
        font-size: 20px;
}

    #container
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
        .rectengle
        {
            width: 960px;
            margin: 20px;
        }

        .square
        {
            width: 50%;
            float: left;  
        }

        #logo
        {
            float: left;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 70px;
            width: 600px;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #zegar
        {
            float: left;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 70px;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .tile1
        {
            margin: 10px;
            width: 230px;
            height: 142px;
            background-color: #3095d3;
            color: white;
            float: left;
        }

        .tile2
        {
            margin: 10px;
            width: 230px;
            height: 142px;
            background-color: #666666;
            color: white;
            float: left;
        }

        .tile3
        {
            margin: 10px;
            width: 230px;
            height: 142px;
            background-color: #93c749;
            color: white;
            float: left;
        }

        .tile4
        {
            margin: 10px;
            width: 480px;
            height: 142px;
            background-color: #ee5a32;       
            color: white; 
        }
    
        .tile5
        {
            margin: 10px;
            width: 480px;
            height: 304px;
            background-color: #666666;    
            color: white; 
        }

        .yt
        {
            margin: 10px;
            width: 110px;
            height: 342px;
            background-color: red;
            color: white;
            float: left;
        }
    

