#jaszczurki
{
    background-color: red;
    float: left;
    height: 400px;
    width: 100px;
}
#weze
{
    background-color: green;
    float: left;
    height: 400px;
    width: 100px;
}
#zolwie
{
    background-color: yellow;
    float: left;
    height: 400px;
    width: 100px;
}
#sfenodonty
{
    background-color: blue;
    float: left;
    height: 400px;
    width: 100px;
}