@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .gadybox {
      width: 50%;
    }
  }

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .gadybox {
      width: 100%;
    }
  }


.gadytop
{
    background-color: aqua;
    width: 98%;
    margin-bottom: 10px;
    text-align: center;
    padding: 1px;
}

.gadytop ul li
{
    text-align: left;
}

.gadybox
{
    text-align: center;
}

.gadybox ul li
{
    text-align: left;
}
