.gady-top{
    width: 98%;
    margin-bottom: 10px;
    text-align: center;
    padding: 1px;
    align-self: center;
    margin: 0 auto;
}

.gady-top ul li{
    text-align: left;
}

.gady-box{
    text-align: center;
}

.gady-box ul li{
    text-align: left;
}

.gady-menu-item {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.gady-menu-item a:link {
    color: rgb(9, 30, 8);
}