body{
    background-color: #dbffde;
}

header
{
    background-color: green;
    /* height: 100px; */
    width: 98%;
    padding: 1%;
}

content {
    width: 98%;
    height: 400px;
}

.logo
{
    float: left;
}

#Vanilla
{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
#terra
{
margin-left: 3%;
}
#strona_glowna
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
    margin-left: 20%;
}

#gady
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
}

#hodowcy
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
}

#kontakt
{
    text-align: left;
    color: rgb(38, 179, 38);
    padding: 1%;
    float: none;
} 

.nav
{
    width: 200px;
    height: 600px;
    margin-right: 0px;
    color: rgb(38, 179, 38);
    background-color: green;
    float: left;
}

#ct
{
    
    width: 1400px;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

#ad {
    width: 200px;
    /* height: 400px; */
    float: right;
    background-color:blue;
    height: 600px;
}

#gecko
{
    padding: 0;
    padding: 10%;
    text-align: center;
}

#agama
{
    margin-top: 1;
    margin-bottom: 10%;
    text-align: center;
    padding-bottom: 5%;
}



h6
{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

footer
{
    background-color: green;
    width: 99%;
    color: rgb(38, 179, 38);
    text-align: center;
    padding: 0.5%;
}

a:visited{
    color: rgb(38, 179, 38);
    text-decoration: none;
}

a:link {
    color: rgb(38, 179, 38);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

  #forum
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;   
}
