.hedder
{
    background-color: green;
    height: 100px;
    width: 98%;
    padding: 1%;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}
.logo
{
    color: rgb(38, 179, 38);
}
#Vanilla
{

}
#terra
{
margin-left: 3%;
}
#strona_glowna
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
    margin-left: 20%;
}

#gady
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
}

#forum
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;   
}

#hodowcy
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
}

#kontakt
{
    text-align: left;
    color: rgb(38, 179, 38);
    float: left;
    padding: 1%;
} 